*~
.\#*
\#*\#

.DS_Store
*.dSYM/
__pycache__/

.continueignore
.vimrc
*.o
*.cf

/*.include
/*.exclude
/wave.opt

.continue/
.surfer/
.vscode/
build/
cosim_vhpidirect_test/
cosim_vpi_test/
doc/Verilog_2005.md
doc/Verilog_2005.pdf
doc/VHDL_2008.md
doc/VHDL_2008.pdf
soap/soap
vivado/
work/